* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
     }
   
   body {
    background-color: #867082;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
       }
.box {
    background-color: #c8c7c9;
    padding-left: 60px;
    padding: 60px;
    border-radius: 25px;
}

.box h2 {
    margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #a14390;
   font-family: sans-serif;
}
input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 25px;
    border: none;
    border: 2px solid #a14390;
    outline: none;
    font-size: 22px;
}
 input ::placeholder {
     font-size: 26px;
 }

 #btnGen {
     display: flex;
     font-size: 20px;
     font-weight: 500;
     background-color: #a14390;
     color: #f0e7eb;
     justify-content: center;
     cursor: pointer;
     text-align: center;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     padding-top: 10px;
     margin-left: 30%;
     border-radius: 25px
 }
 #btnGen:hover {
     color: #a14390;
     background-color: #bedcf5;
 }